<div class="icons"><i class='fa fa-trash-o' (click)="delete()"></i> <i class='fa fa-pencil'></i></div>
 <ngx-datatable
    class="material"
    [rows]="rows"
    columnMode="force"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="50"
    [scrollbarV]="true"
    [limit]="5"
    [selected]="selected"
    [selectionType]="'checkbox'"
    (select)='onSelect($event)'>
  <ngx-datatable-column
    [width]="100"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
    name="">
  </ngx-datatable-column>
   <ngx-datatable-column name="Nazwa produktu" prop="name" [width]="650" style="text-align: center">
     <ng-template let-row="row" ngx-datatable-cell-template>
       {{row.ingredient.name}} ({{row.description}})
     </ng-template>
   </ngx-datatable-column>
    <ngx-datatable-column name="Ilość" prop="quantity">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.quantity}} ({{row.ingredient.unit.name}})
      </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
