<div id="add-product__background" class="modal">
   <div id="add-product">
    <span class="o-title o-title--underline">Dodaj produkt</span>
    <div class="form-row">
      <span class="add-product__span-select">
       <label for="add-product__product-name ">nazwa</label>
			<select class="add-product__product-name" placeholder="Nazwa produktu">
				<option value="default" selected>Produkt</option>
				<option value="">Jajka</option>
                <option value="">Mąka</option>
			</select>
			<span class="add-product__styled-arrow">&#8595;</span>
                </span>
    </div>
    <div class="form-row">
      <label for="add-product__product-quantity">ilość</label>
      <input type="text" class="add-product__product-quantity">
      <span class="add-product__span-select">
			<select class="add-product__product-quantity-unit" placeholder="Ilość">
				<option value="default" selected>miara</option>
				<option value="">g</option>
                <option value="">ml</option>
			</select>
               <span class="add-product__styled-arrow">&#8595;</span>
                </span>
    </div>
    <div class="o-btn-wrapper">
      <a href="" class="o-btn o-btn--color">Dodaj</a>
      <a href="" class="o-btn">Wróć</a>
    </div>
  </div>
  
