<header class="header">
  <div class="centered">
    <div class="header__hamb" [ngClass]="{'active': menuOpened}" (click)="changeMenuState()"></div>
    <nav class="header__nav" [ngClass]="{'active': menuOpened}">
      <ul>
        <li><a routerLink="/fridge">Lodówka</a></li>
        <li><a routerLink="/cookbook">Księga kucharska</a></li>
        <li><a routerLink="/account">Profil użytkownika</a></li>
        <li><a routerLink="/contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <a class="header__logo" href="/">Frigo</a>
</header>
