<div class="main">
	<h1>Dodaj przepis</h1>
	<input type="text" placeholder="Wprowadź nazwę przepisu...">
	<select name="recipeCategory" placeholder="Kategoria przepisu">
		<option value="default" selected>Kategoria przepisu</option>
		<option value="">Śniadanie</option>
		<option value="">Kolacja</option>
	</select>
	<div class="cookingProperties">
		<label for=""></label>
		<input type="text">
		<label for=""></label>	
		<input type="text">
	</div>
	<div class="ingredientsAndPhotoSection">
		<h3>Składniki</h3>
		<div class="settingsWindow">
			
		</div>
		<ul class="ingredients">
			
		</ul>
	</div>
</div>