<div class="content-wrapper">
  <div class="centered">
      <div class="contact">
        <h1 class="title title--underline">Kontakt</h1>
        <div class="contact__list">
          <div class="contact__item">
            <span class="contact__label">E-mail:</span>
            <span class="contact__value">xyz@abc.pl</span>
          </div>
          <div class="contact__item">
            <span class="contact__label">Telefon:</span>
            <span class="contact__value">600-600-600</span>
          </div>
          <div class="contact__item">
            <span class="contact__label">Telefon Adama:</span>
            <span class="contact__value">777-666-777</span>
          </div>
          <div class="contact__item">
            <span class="contact__label">Lorem ipsum dolor sit amet:</span>
            <span class="contact__value">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque deleniti fugiat obcaecati qui saepe.</span>
          </div>

        </div>
      </div>
  </div>
</div>
