<div class="o-content-wrapper">
  <div class="wrapper-form">
    <span class="change-password__title o-title o-title--underline">Rejestracja</span>
    <span class="change-password__subtitle o-subtitle">Zarejestruj się do systemu</span>

    <div class="form">
      <form (ngSubmit)="register($event)" name="registerForm">
        <div class="form__form-item">
          <label class="form__label" for="username">Login:</label>
          <input class="form__input" id="username" type="text" name="username" [(ngModel)]="registerModel.username" required>
        </div>
        <div class="form__form-item">
          <label class="form__label" for="email">Adres e-mail:</label>
          <input class="form__input" id="email" type="email" name="email" [(ngModel)]="registerModel.email" required>
        </div>
        <div class="form__form-item">
          <label class="form__label" for="password">Hasło:</label>
          <input class="form__input" id="password" type="password" name="password" [(ngModel)]="registerModel.password" required>
        </div>
        <div class="form__form-item">
          <label class="form__label" for="password">Potwierdź hasło:</label>
          <input class="form__input" id="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="registerModel.confirmPassword" required>
        </div>
        <input type="submit" value="Zarejestruj się" class="form__hiddenSubmit" />
      </form>
    </div>

    <div class="o-btn-wrapper">
      <a routerLink="/account/login" class="o-btn">Zaloguj się</a>

      <a (click)="register($event)" class="o-btn o-btn--color o-btn--right">Zarejestruj się</a>
    </div>
  </div>
</div>

