<div class="o-content-wrapper">
  <div class="o-form">
    <span class="o-title o-title--underline">Rejestracja</span>
    <span class="o-subtitle">Zarejestruj się do systemu</span>

    <div class="o-form__box">
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <div class="o-form__form-item">
          <label class="o-form__label" for="username">Login:</label>
          <input class="o-form__input" id="username" type="text" name="username" [(ngModel)]="registerModel.username" required>
        </div>
        <div class="o-form__form-item">
          <label class="o-form__label" for="email">Adres e-mail:</label>
          <input class="o-form__input" id="email" type="email" name="email" [(ngModel)]="registerModel.email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
        </div>
        <div class="o-form__form-item">
          <label class="o-form__label" for="password">Hasło:</label>
          <input class="o-form__input" id="password" type="password" name="password" [(ngModel)]="registerModel.password" required minlength="10" maxlength="100">
        </div>
        <div class="o-form__form-item">
          <label class="o-form__label" for="password">Potwierdź hasło:</label>
          <input class="o-form__input" id="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="registerModel.confirmPassword" required minlength="10" maxlength="100">
        </div>
        <input type="submit" value="Zarejestruj się" class="o-form__hiddenSubmit" />
      </form>
    </div>

    <div class="o-btn-wrapper">
      <button routerLink="/account/login" class="o-btn">Zaloguj się</button>

      <button (click)="register()" class="o-btn o-btn--color o-btn--right" [(disabled)]="!registerForm.form.valid">Zarejestruj się</button>
    </div>
  </div>
</div>

