@import '../../../styles.sass'

.fridge-content
  max-width: 800px
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center

.btn-wrapper
    margin: 20px 0
    width: 60%
    
    .ngx-datatable.material .datatable-header .datatable-header-cell .datatable-header-cell-wrapper
    font-size: large