<!--<h1>-->
<!--{{title}}-->
<!--</h1>-->
<!--<router-outlet></router-outlet>-->

<header class="header">
  <div class="centered">
    <div class="header__hamb" [ngClass]="{'active': menuOpened}" (click)="changeMenuState()"></div>
    <nav class="header__nav" [ngClass]="{'active': menuOpened}">
      <ul>
        <li><a href="">Lodówka</a></li>
        <li><a href="">Księga kucharska</a></li>
        <li><a href="">Profil użytkownika</a></li>
        <li><a href="">Kontakt</a></li>
      </ul>
    </nav>
  </div>
  <a class="header__logo" href="">Frigo</a>
</header>

<div class="contentWrapper">

  <div class="main" style="display: none">
    <img src="../assets/logo-png.png" alt="Frigo" class="main__logo">
    <h2 class="main__slogan title title--underline">Co dziś na obiad?</h2>
    <div class="btnWrapper">
      <a href="#" class="btn btn--color">Zarejestruj się</a>
      <a href="#" class="btn">Zaloguj się</a>
    </div>
  </div>

  <div class="profile">
    <span class="profile__title title title--underline">Profil</span>
    <span class="profile__subtitle subtitle">Zmiana hasła</span>

    <div class="form">
      <form action="">
        <div class="form__formItem">
          <label class="form__label" for="oldPassword">Hasło:</label>
          <input class="form__input" id="oldPassword" type="password">
        </div>
        <div class="form__formItem">
          <label class="form__label" for="newPassword">Nowe hasło:</label>
          <input class="form__input" id="newPassword" type="password">
        </div>
        <div class="form__formItem">
          <label class="form__label" for="newPasswordConfirm">Potwierdź nowe hasło:</label>
          <input class="form__input" id="newPasswordConfirm" type="password">
        </div>
      </form>
    </div>

    <div class="btnWrapper">
      <a href="#" class="btn btn--color">Wyloguj się</a>
      <a href="#" class="btn">Zatwierdź</a>
    </div>
  </div>

</div>

