<div class="o-content-wrapper">
  <div class="wrapper-form">
    <span class="change-password__title o-title o-title--underline">Profil</span>
    <span class="change-password__subtitle o-subtitle">Zmiana hasła</span>

    <div class="form">
      <form (ngSubmit)="submit($event)" name="changePasswordForm">
        <div class="form__form-item">
          <label class="form__label" for="oldPassword">Hasło:</label>
          <input class="form__input" id="oldPassword" type="password" name="oldPassword" [(ngModel)]="changePasswordModel.password" required>
        </div>
        <div class="form__form-item">
          <label class="form__label" for="newPassword">Nowe hasło:</label>
          <input class="form__input" id="newPassword" type="password" name="newPassword" [(ngModel)]="changePasswordModel.newPassword" required>
        </div>
        <div class="form__form-item">
          <label class="form__label" for="newPasswordConfirm">Potwierdź nowe hasło:</label>
          <input class="form__input" id="newPasswordConfirm" name="newPasswordConfirm" [(ngModel)]="changePasswordModel.newPasswordConfirm" required>
        </div>
      </form>
    </div>

    <div class="o-btn-wrapper">
      <a (click)="logout($event)" class="o-btn">Wyloguj się</a>
      <a (click)="submit($event)" class="o-btn o-btn--color">Zatwierdź</a>
    </div>
  </div>
</div>