<div class="o-content-wrapper">
  <div class="change-password">
    <span class="change-password__title o-title o-title--underline">Profil</span>
    <span class="change-password__subtitle o-subtitle">Zmiana hasła</span>

    <div class="form">
      <form action="">
        <div class="form__form-item">
          <label class="form__label" for="oldPassword">Hasło:</label>
          <input class="form__input" id="oldPassword" type="password">
        </div>
        <div class="form__form-item">
          <label class="form__label" for="newPassword">Nowe hasło:</label>
          <input class="form__input" id="newPassword" type="password">
        </div>
        <div class="form__form-item">
          <label class="form__label" for="newPasswordConfirm">Potwierdź nowe hasło:</label>
          <input class="form__input" id="newPasswordConfirm" type="password">
        </div>
      </form>
    </div>

    <div class="o-btn-wrapper">
      <a href="#" class="o-btn o-btn--color">Wyloguj się</a>
      <a href="#" class="o-btn">Zatwierdź</a>
    </div>
  </div>
</div>