<div class="content-wrapper">
    <div class="centered">
        <div class="cookbook">
            <div class="cookbook__head">
                <h1 class="title title--underline">Księga kucharska</h1>
                <div class="btn-wrapper cookbook__btn-wrapper">
                    <a href="" class="btn btn--color">Zaproponuj potrawę</a>
                    <a routerLink="/recipe/create" class="btn">Dodaj przepis</a>
                </div>
                <div class="cookbook__search">
                    <input type="text">
                </div>
            </div>

            <div class="cookbook__recipes-wrapper">
              <fg-recipe-tile
                *ngFor="let recipe of recipes"
                [recipe]="recipe"
                (click)="onRecipeClick(recipe.id)"></fg-recipe-tile>
            </div>
        </div>
    </div>
</div>
