<div class="o-content-wrapper">
    <div class="o-centered">
        <div class="cookbook">
            <div class="cookbook__head">
                <h1 class="o-title o-title--underline">Księga kucharska</h1>
                <div class="o-btn-wrapper cookbook__btn-wrapper">
                    <a href="" class="o-btn o-btn--color">Zaproponuj potrawę</a>
                    <a routerLink="/recipe/create" class="o-btn">Dodaj przepis</a>
                </div>
                <div class="cookbook__search">
                    <input type="text" [(ngModel)]="findRecipeInput">
                    <select [(ngModel)]="findRecipeSelect">
                        <option value="" selected>Wszystkie</option>
                        <option *ngFor="let tag of tags" value="{{tag.name}}">
                            {{ tag.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div *ngIf="!recipes.length" class="cookbook__no-recipes">Brak przepisów...</div>
            <div *ngIf="recipes.length" class="cookbook__recipes-wrapper">
              <fg-recipe-tile
                *ngFor="let recipe of recipes | FindRecipeByName: findRecipeInput | FindRecipeByCategory: findRecipeSelect"
                [recipe]="recipe"
                (click)="onRecipeClick(recipe.id)"></fg-recipe-tile>
            </div>
        </div>
    </div>
</div>
