<div class="content-wrapper">
    <div class="centered">
        <div class="cookbook">
            <div class="cookbook__head">
                <h1 class="title title--underline">Księga kucharska</h1>
                <div class="btn-wrapper cookbook__btn-wrapper">
                    <a href="" class="btn btn--color">Zaproponuj potrawę</a>
                    <a href="" class="btn">Dodaj przepis</a>
                </div>
                <div class="cookbook__search">
                    <input type="text">
                </div>
            </div>

            <div class="cookbook__recipes-wrapper">
                <div class="cookbook__recipe">
                    <div class="cookbook__recipe__rating">
                        <img src="" alt="">
                        <span>100%</span>
                    </div>
                    <h3>Nazwa potrawy</h3>
                    <div class="cookbook__recipe__rate">
                        <span>Ocena:</span>
                        <ul>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="cookbook__recipe">
                    <div class="cookbook__recipe__rating">
                        <img src="" alt="">
                        <span>100%</span>
                    </div>
                    <h3>Nazwa potrawy</h3>
                    <div class="cookbook__recipe__rate">
                        <span>Ocena:</span>
                        <ul>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="cookbook__recipe">
                    <div class="cookbook__recipe__rating">
                        <img src="" alt="">
                        <span>100%</span>
                    </div>
                    <h3>Nazwa potrawy</h3>
                    <div class="cookbook__recipe__rate">
                        <span>Ocena:</span>
                        <ul>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="cookbook__recipe">
                    <div class="cookbook__recipe__rating">
                        <img src="" alt="">
                        <span>100%</span>
                    </div>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate facilis illum modi numquam sequi.</h3>
                    <div class="cookbook__recipe__rate">
                        <span>Ocena:</span>
                        <ul>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>